<mat-card>
  <mat-card-header>
    <mat-card-title>{{ producto.nombre | titlecase }}</mat-card-title>
    <mat-card-subtitle *ngIf="producto.existencia > 5; else pocasUnidades" style="color: green">Disponible</mat-card-subtitle>
    <ng-template #pocasUnidades>
      <mat-card-subtitle style="color: red">Pocas unidades</mat-card-subtitle>
    </ng-template>
  </mat-card-header>

  <img mat-card-image [src]="imagenUrl" [alt]="producto.nombre">

  <mat-card-content class="mt-2">
    <h4><strong>Proveedor</strong> {{ producto.usuario.nombre | titlecase }}</h4>
    <p>
      <strong>Precio</strong> {{ producto.precio | currency: 'GTQ': 'symbol-narrow' }}
      <br>
      <strong>Existencia</strong> {{ producto.existencia }} Unidades
      <br>
      <strong>Descripción</strong> {{ producto.descripcion }} Unidades
      <br>
      <mat-chip-listbox>
        <mat-chip>
          {{ producto.categoria.nombre }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
            mat-raised
            (click)="aprobar()">
      <mat-icon>check_circle</mat-icon>
        Aprobar
    </button>
    <div class="spacer"></div>
    <button mat-button
            mat-raised
            (click)="rechazar()">
      <mat-icon>cancel</mat-icon>
        Denegar
    </button>
  </mat-card-actions>

</mat-card>
