<h1>Página de Compra</h1>
<mat-divider></mat-divider>
<br>
<form class="grid"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="onSubmit()">

  <mat-form-field class="col-12">

    <mat-label>Número de Tarjeta</mat-label>
    <input
      matInput
      type="text"
      required
      formControlName="tarjeta"
  />

  </mat-form-field>

  <div class ="col-12 justify-content-center">
    <button mat-flat-button
            color="primary"
            type="submit"
            [disabled]="miFormulario.invalid">
        <mat-icon>credit_card</mat-icon>
        Buy
    </button>

  </div>
</form>
